.home, .home * {
    box-sizing: border-box;
    }
.home {
   background: var(--black, #000000);
    width: 1440px;
    height: 5035px;
    position: relative;
    overflow: hidden;
   }

.nav-bar {
   width: 1440px;
    height: 85px;
    position: absolute;
    left: calc(50% - 720px);
   top: 0px;
   }

.logo {
   padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 197px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.baafog-ayo {
   color: #ffffff;
    text-align: left;
    font: 400 16px 'Ultra', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.rectangle-2 {
   background: var(--level-1, #181823);
    width: 900px;
    height: 900px;
    position: absolute;
    right: 0px;
   top: calc(50% - 42.5px);
   }

.links {
   display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 0px;
   top: 0px;
   }

.home2 {
   padding: 32px 24px 0px 24px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
   }

.home3 {
   color: #ffffff;
    text-align: left;
    font: 400 16px 'Sen', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.rectangle-20 {
   background: var(--colors-primary-wine-100, #b7094c);
    border-radius: 4px 4px 0px 0px;
    flex-shrink: 0;
    width: 94px;
    height: 4px;
    position: relative;
   }

.about-me {
   padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
   }

.about-me2 {
   color: #ffffff;
    text-align: left;
    font: 400 16px 'Sen', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.skills {
   padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
   }

.skills2 {
   color: #ffffff;
    text-align: left;
    font: 400 16px 'Sen', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.portfolio {
   padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
   }

.portfolio2 {
   color: #ffffff;
    text-align: left;
    font: 400 16px 'Sen', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.contact-me {
   background: var(--colors-primary-wine-100, #b7094c);
    padding: 32px 24px 32px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
   }

.contact-me2 {
   color: #ffffff;
    text-align: left;
    font: 400 16px 'Sen', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-3 {
   width: 1440px;
    height: 810px;
    position: absolute;
    left: calc(50% - 720px);
   top: 85px;
   }

.group-1 {
   position: absolute;
    inset: 0;
   }

.frame-2 {
   display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 744px;
    position: absolute;
    left: 656px;
   top: calc(50% - 231px);
   }

.i-m-ibukun-ayomide-baafog-a-product-designer-based-in-accra-ghana {
   text-align: left;
    position: relative;
    width: 744px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.i-m-ibukun-ayomide-baafog-a-product-designer-based-in-accra-ghana-span {
   
           color: #ffffff;
   
           font: 700 74px/90px 'Sen', sans-serif;
   
           
           
       }

.i-m-ibukun-ayomide-baafog-a-product-designer-based-in-accra-ghana-span2 {
   
           color: #ffffff;
   
           font: 700 74px/90px 'Sen', sans-serif;
   
           
           text-decoration: underline;
   
       }

.i-m-ibukun-ayomide-baafog-a-product-designer-based-in-accra-ghana-span3 {
   
           color: rgba(255, 255, 255, 0.50);
   
           font: 700 48px/90px 'Sen', sans-serif;
   
           
           
       }

.i-m-ibukun-ayomide-baafog-a-product-designer-based-in-accra-ghana-span4 {
   
           color: #8b8b91;
   
           font: 700 48px/90px 'Sen', sans-serif;
   
           
           
       }

.i-m-ibukun-ayomide-baafog-a-product-designer-based-in-accra-ghana-span5 {
   
           color: rgba(255, 255, 255, 0.50);
   
           font: 700 48px/90px 'Sen', sans-serif;
   
           
           
       }

.i-am-passionate-about-building-products-that-are-enjoyable-and-elevate-users-experience {
   color: rgba(255, 255, 255, 0.50);
    text-align: left;
    font: 700 20px/30px 'Sen', sans-serif;
    position: relative;
    width: 744px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-3 {
   width: 687px;
    height: 556px;
    position: static;
   }

.rectangle-5 {
   background: linear-gradient(222.23deg, rgba(217, 217, 217, 0.58) 0%,rgba(124, 124, 124, 0.00) 100%);
    border-radius: 0px 173px 0px 0px;
    width: 685px;
    height: 556px;
    position: absolute;
    left: 0px;
   top: 127px;
   }

.rectangle-1 {
   border-radius: 0px 173px 0px 0px;
    width: 685px;
    height: 555px;
    position: absolute;
    left: 2px;
   top: calc(50% - 277px);
   }

.frame-4 {
   width: 1440px;
    height: 600px;
    position: absolute;
    left: 0px;
   top: 900px;
   }

.value-image {
   position: absolute;
    inset: 0;
   }

.rectangle-4 {
   background: #ffffff;
    width: 720px;
    height: 600px;
    position: absolute;
    left: 720px;
   top: 0px;
   }

.philosophy-image {
   width: 600px;
    height: 600px;
    position: absolute;
    right: 60px;
   top: 0px;
   }

.rectangle-3 {
   background: #fff3e4;
    width: 720px;
    height: 600px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.philosophy-value {
   color: var(--level-1, #181823);
    text-align: left;
    font: 700 55px/150% 'Sen', sans-serif;
    position: absolute;
    left: 72px;
   top: 120px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.i-am-passionate-about-people-and-products-helping-people-by-building-products-that-are-fun-and-intuitive-to-use {
   color: var(--darkgrey, #5b6876);
    text-align: left;
    font: 400 18px/150% 'Sen', sans-serif;
    position: absolute;
    left: 72px;
   top: 215px;
    width: 576px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.morre-about-me {
   position: absolute;
    inset: 0;
   }

.more-about-me {
   color: var(--darkgrey, #5b6876);
    text-align: left;
    font: 700 16px/150% 'Sen', sans-serif;
    position: absolute;
    left: 73px;
   top: 456px;
    width: 576px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.line-1 {
   border-style: solid;
    border-color: var(--colors-background-grey-50, #939ba5);
    border-width: 1px 0 0 0;
    width: 118px;
    height: 0px;
    position: absolute;
    left: 73px;
   top: 480px;
   }

.frame-5 {
   width: 1440px;
    height: 600px;
    position: absolute;
    left: calc(50% - 720px);
   top: 3287px;
   }

.rectangle-42 {
   background: linear-gradient(to left, #ffffff, #ffffff);
    width: 720px;
    height: 600px;
    position: absolute;
    left: 720px;
   top: 0px;
   }

.rectangle-32 {
   background: #f6e4ff;
    width: 720px;
    height: 600px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.instagram {
   color: var(--level-1, #181823);
    text-align: left;
    font: 700 55px/150% 'Sen', sans-serif;
    position: absolute;
    left: 72px;
   top: 120px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.i-m-a-strong-advocate-for-a-work-life-balance-and-when-i-m-not-working-i-like-to-go-to-the-beach-sight-see-travel-and-meet-new-people-i-would-like-to-connect-with-you-on-ig {
   color: var(--darkgrey, #5b6876);
    text-align: left;
    font: 400 18px/150% 'Sen', sans-serif;
    position: absolute;
    left: 72px;
   top: 202px;
    width: 576px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.follow-me-on-ig {
   color: var(--darkgrey, #5b6876);
    text-align: left;
    font: 700 16px/150% 'Sen', sans-serif;
    position: absolute;
    left: 73px;
   top: 456px;
    width: 576px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.line-12 {
   border-style: solid;
    border-color: var(--colors-background-grey-50, #939ba5);
    border-width: 1px 0 0 0;
    width: 128px;
    height: 0px;
    position: absolute;
    left: 73px;
   top: 480px;
   }

.frame-41 {
   width: 1440px;
    height: 1787px;
    position: absolute;
    left: calc(50% - 720px);
   top: 1500px;
   }

.frame-20 {
   width: 1440px;
    height: 1787px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.group-21 {
   position: absolute;
    inset: 0;
   }

.group-22 {
   width: 636px;
    height: 225px;
    position: static;
   }

.each-project-was-made-with-the-users-in-mind-kind-check-out-my-work-on-behance-like-and-comments-are-welcomed {
   color: var(--colors-background-grey-50, #939ba5);
    text-align: left;
    font: 400 18px/150% 'Sen', sans-serif;
    position: absolute;
    left: 182px;
   top: 227px;
    width: 636px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.behance {
   color: #ffffff;
    text-align: left;
    font: 700 55px/150% 'Sen', sans-serif;
    position: absolute;
    left: 182px;
   top: 120px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-17 {
   width: 576px;
    height: 24px;
    position: static;
   }

.follow-me-on-behance {
   color: var(--colors-primary-wine-25, #edc1d2);
    text-align: left;
    font: 700 16px/150% 'Sen', sans-serif;
    position: absolute;
    left: 182px;
   top: 321px;
    width: 576px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.line-2 {
   border-style: solid;
    border-color: var(--colors-primary-wine-25, #edc1d2);
    border-width: 1px 0 0 0;
    width: 175px;
    height: 0px;
    position: absolute;
    left: 182px;
   top: 345px;
   }

.group-20 {
   width: 1076px;
    height: 1234.77px;
    position: static;
   }

.group-19 {
   width: 1076px;
    height: 36px;
    position: static;
   }

.rectangle-14 {
   border-radius: 0px;
    position: absolute;
    left: 182px;
   top: 465px;
    overflow: visible;
   }

.group-18 {
   width: 60px;
    height: 16px;
    position: static;
   }

.ellipse-1 {
   background: var(--darkgrey, #5b6876);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 198px;
   top: 475px;
   }

.ellipse-2 {
   background: var(--darkgrey, #5b6876);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 220px;
   top: 475px;
   }

.ellipse-3 {
   background: var(--darkgrey, #5b6876);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 242px;
   top: 475px;
   }

.whats-app-image-2023-09-26-at-04-42 {
   width: 1076px;
    height: 366.64px;
    position: absolute;
    left: 182px;
   top: 1333.13px;
   }

.whats-app-image-2023-09-26-at-04-422 {
   width: 1076px;
    height: 452.32px;
    position: absolute;
    left: 182px;
   top: 500.23px;
   }

.whats-app-image-2023-09-26-at-04-423 {
   width: 1076px;
    height: 380.59px;
    position: absolute;
    left: 182px;
   top: 952.55px;
   }

.frame-35 {
   display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 723px;
    position: absolute;
    left: calc(50% - 720px);
   top: 3887px;
   }

.group-30 {
   flex-shrink: 0;
    width: 1076px;
    height: 483px;
    position: static;
   }

.frame-27 {
   width: 526px;
    height: 147px;
    position: absolute;
    left: 182px;
   top: 120px;
   }

.now-that-you-know-a-lot-about-me-let-me-know-if-you-are-interested-in-working-with-me {
   color: var(--colors-background-grey-50, #939ba5);
    text-align: left;
    font: 400 18px/150% 'Sen', sans-serif;
    position: absolute;
    left: 0px;
   top: 93px;
    width: 526px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.let-s-get-started {
   color: #ffffff;
    text-align: left;
    font: 700 55px/150% 'Sen', sans-serif;
    position: absolute;
    left: 0px;
   top: 0px;
    width: 511px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-34 {
   display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 526px;
    position: absolute;
    left: 732px;
   top: 120px;
   }

.group-26 {
   flex-shrink: 0;
    width: 526px;
    height: 82px;
    position: static;
   }

.rectangle-15 {
   background: var(--level-1, #181823);
    width: 526px;
    height: 50px;
    position: absolute;
    left: 0px;
   top: 32px;
   }

.name {
   color: var(--colors-background-grey-50, #939ba5);
    text-align: left;
    font: 400 16px/150% 'Sen', sans-serif;
    position: absolute;
    left: 0px;
   top: 0px;
    width: 53px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-28 {
   flex-shrink: 0;
    width: 526px;
    height: 82px;
    position: static;
   }

.rectangle-152 {
   background: var(--level-1, #181823);
    width: 526px;
    height: 50px;
    position: absolute;
    left: 0px;
   top: 154px;
   }

.email {
   color: var(--colors-background-grey-50, #939ba5);
    text-align: left;
    font: 400 16px/150% 'Sen', sans-serif;
    position: absolute;
    left: 0px;
   top: 122px;
    width: 67px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-29 {
   flex-shrink: 0;
    width: 526px;
    height: 239px;
    position: static;
   }

.rectangle-153 {
   background: var(--level-1, #181823);
    width: 526px;
    height: 100px;
    position: absolute;
    left: 0px;
   top: 276px;
   }

.message {
   color: var(--colors-background-grey-50, #939ba5);
    text-align: left;
    font: 400 16px/150% 'Sen', sans-serif;
    position: absolute;
    left: 0px;
   top: 244px;
    width: 78px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-28 {
   background: var(--color-gradient-1, linear-gradient(132.43deg, rgba(65, 53, 243, 1.00) 0%,rgba(113, 104, 246, 1.00) 100%));
    border-style: solid;
    border-color: var(--iris-100, #5d5fef);
    border-width: 1px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 526px;
    position: absolute;
    left: 0px;
   top: 432px;
   }

.let-s-get-started2 {
   color: #ffffff;
    text-align: left;
    font: 700 18px/150% 'Sen', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-36 {
   width: 1440px;
    height: 422px;
    position: absolute;
    left: calc(50% - 720px);
   top: 12031px;
    overflow: hidden;
   }

.frame-40 {
   background: #070707;
    width: 1438px;
    height: 425px;
    position: absolute;
    left: calc(50% - 719px);
   bottom: 0px;
   }

.group-33 {
   position: absolute;
    inset: 0;
   }

.frame-38 {
   display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 841px;
   top: 83px;
   }

.home4 {
   color: #ffffff;
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: relative;
    width: 196px;
    height: 48px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.about {
   color: #ffffff;
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: relative;
    width: 196px;
    height: 48px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.work {
   color: #ffffff;
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: relative;
    width: 196px;
    height: 48px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.process {
   color: #ffffff;
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: relative;
    width: 196px;
    height: 48px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-32 {
   width: 592px;
    height: 259px;
    position: static;
   }

.group-31 {
   width: 589px;
    height: 30px;
    position: static;
   }

.copyright-2023 {
   color: var(--colors-background-grey-50, #939ba5);
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: absolute;
    left: 74px;
   top: 312px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.ibukun-ayomide-baafog-all-rights-reserved {
   color: var(--colors-background-grey-50, #939ba5);
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: absolute;
    left: 242px;
   top: 312px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.ellipse-4 {
   background: var(--darkgrey, #5b6876);
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 226px;
   top: 323px;
   }

.logo2 {
   display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 71px;
   top: 83px;
   }

.frame-37 {
   display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 71px;
   top: 152px;
   }

.icon-twitter-square {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.icon-linked-in {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.vector3 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.frame-39 {
   display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1061px;
   top: 83px;
   }

.store {
   color: #ffffff;
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: relative;
    width: 196px;
    height: 48px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.blog {
   color: #ffffff;
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: relative;
    width: 196px;
    height: 48px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.reading-list {
   color: #ffffff;
    text-align: left;
    font: 400 20px/150% 'Sen', sans-serif;
    position: relative;
    width: 196px;
    height: 48px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

