.fluid-container{
    background-color: black;
    width: 1440px;
    margin-left: 150px;
    margin-right: 150px;
    height:12000px;
}

.fixed-pos {
    position: fixed;
    bottom: 100px;
    right: 100px;
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(103, 103, 103, 0.966) 0px 7px 29px 0px;

}

.sticky-pos{
    position: sticky;
    top: 3px;
    list-style-type: none;
    padding-left: 3px;
    display: flex;
    justify-content:flex-end;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top:1rem;
    color: rgb(255, 255, 255);
    z-index: 100px;

.nav-bar{
    background: rgba(0, 0, 0, 0.5);
}


}
.heading{
color: white;
margin-left: 100px;

}

.sticky-pos > li {
margin-left:1rem;
}


.card {
width: 685px;
height: 555px;
border-top-right-radius: 60px;


}

#introduction{
    color: white;
    padding-top: 250px;
    padding-left: 50px;
    background-color: #181823;
    width: 900px;
    height: 900px;
    color: #FFF;
    margin-top: -88px;

font-family: Sen;
font-size: 74px;
font-style: normal;
font-weight: 700;
line-height: 90px; /* 121.622% */
}
#introduction h1{
    font-size: 74px;
    z-index: 1;
}

#introduction h2{
    font-size: 48px;
}

#introduction h4{
    font-size: 48px;
}

#introduction div {
    position: relative;
    z-index: 1;
}
#card2{
   background-color:#D9D9D9 ;
   width: 930px;
   position: absolute;
   border-top-right-radius: 173px;
   border: 20px;
   border-color: aqua;
   
}
#CTA {
    margin-left: 100px;
}
/* color: rgba(255, 255, 255, 0.50);

font-family: Sen;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; */